<!doctype html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title> {% block title %} {% endblock title%}</title>

    <style>
   body {
    background: #c7b39b url({% static 'img/images.jpg' %}); /* Цвет фона и путь к файлу */
    background-size: 100%;
    color: #fff; /* Цвет текста */
   }
    </style>
</head>
<body>
<div>

</div>
{% block body %} {% endblock body %}
</body>
</html>
